/*-------- GLOBAL STYLES ---------*/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  margin: 0;
  font-family: "Ubuntu", serif;
  font-weight: 400;
  color: #a1aeb7;
  line-height: 1.5;
}

/*-------- TYPOGRAPHY ---------*/

h1 {
  font-size: 3.8rem;
  color: #505d68;
  line-height: 1.3;
  font-weight: 700;
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;
}

a {
  color: #424b5a;
  display: block;
  margin: 16px 0;
  padding: 12px 48px;
}

a.button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #424b5a;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 26px 0;
}

/*-------- UTILITY ---------*/
/* these CSS properties have been sepearated into individual style rules so that you can apply them to multiple blocks of content */

.content-width {
  width: 334px;
  margin: auto;
}

.dark-background {
  background-color: #f2f5f7;
}

/*-------- HEADER ---------*/

/*-------- FOOTER ---------*/

/*-------- HERO ---------*/

section.hero {
  background-image: url("images/background.png");
  background-position: bottom right;
  background-size: 85%;
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;
  padding: 56px 0;
}

/*-------- MEDIUM DEVICES (vertical ipads, 768px and up) ---------*/
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    padding-left: 15%;
    padding-right: 15%;
  }

  .content-width {
    width: 690px;
  }

  /* MEDIUM HERO */

  section.hero {
    background-size: auto 50%;
    padding: 104px 0;
  }

  section.hero p {
    padding-left: 15%;
    padding-right: 15%;
  }
}

/*-------- LARGE DEVICES (desktops, 1200px and up) ---------*/
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 6.6rem;
    font-weight: 400;
    padding-left: 0;
    padding-right: 0;
    width: 50%;
  }

  a {
    display: inline-block;
  }

  .content-width {
    width: 1130px;
  }

  /* LARGE HERO */

  section.hero {
    background-size: auto 75%;
    text-align: initial;
    height: initial;
  }

  section.hero p {
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    width: 50%;
  }
}
